.main-header {
    background-color: #000;
    color: white;

}

.main-header-content {
    color: white;
}

.main-header-image {
    margin-top: 13%;
    height: 360px;
    width: 100%;
    top: 0px;
}

.first-header-container {
    margin-top: 64%;
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: black;
}

.first-header-content-1-0 {
    font-style: normal;
    font-weight: 300;
    font-size: 270%;
    line-height: 3.1rem;
    text-align: center;
}

.first-header-content-2-0 {
    font-size: 1.5rem;
    line-height: 1.6rem;
    text-align: center;
}

.first-header-content-3-0 {
    font-size: 0.9rem;
    line-height: 1.6rem;
    text-align: center;
}

.first-header-container button {
    text-align: center;
    width: 90%;
    font-weight: lighter;
    color: #fff;
    background-color: #0f79af;
    border: none;
    padding: 14px 20px;
    border-radius: 3px;
    font-size: 17px;
    line-height: 20px;
    transition: all .45s;
    margin-top: 0;
    cursor: pointer;
    margin-left: 5%;
}

.first-header-container button:hover {
    transition: all .1s ease-out;
    filter: brightness(120%);
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .main-header-image {
        margin-top: 5%;
        height: 400px;
        width: 50%;
        top: 0px;
        margin-left: 50%;
    }

    .first-header-container {

        position: absolute;
        top: 15%;
        margin: 0 auto;
        width: 50%;
        height: 50%;
    }

    .first-header-content-1-0 {
        font-style: normal;
        font-weight: 300;
        font-size: 270%;
        line-height: 3.1rem;
        text-align: center;
    }

    .first-header-content-2-0 {
        font-size: 1.5rem;
        line-height: 1.6rem;
        text-align: center;
    }

    .first-header-content-3-0 {
        font-size: 0.9rem;
        line-height: 1.6rem;
        margin-left: -43%;
    }

    .first-header-container button {
        text-align: center;
        width: 50%;
        font-weight: lighter;
        color: #fff;
        background-color: #0f79af;
        border: none;
        padding: 14px 20px;
        border-radius: 3px;
        font-size: 17px;
        line-height: 20px;
        transition: all .45s;
        margin-top: 0;
        cursor: pointer;
        margin-left: 4%;
    }

    .first-header-container button:hover {
        transition: all .1s ease-out;
        filter: brightness(120%);
    }
}